<% title "Coupons" %>

<table>
  <tr>
    <th>Short Desc</th>
    <th>Long Desc</th>
    <th>Expire Date</th>
    <th>Ad</th>
  </tr>
  <% for coupon in @coupons %>
      <% merchant = Merchant.find(coupon.merchant_id) %>
    <tr>
      <td><%= coupon.short_desc %></td>
      <td><%= coupon.long_desc %></td>
      <td><%= coupon.expire_date %></td>
      <td><%= coupon.ad %></td>
      <td><%= link_to "Show", coupon %></td>
      <td><a href="#" data-link='<%= merchant.address %>'
             data-title="<%= merchant.name %>"
             data-ad="a short des from merchant"
             data-pic="http://fbrell.com/f8.jpg"
             class="apply_button">Apply</a></td>
      <td><%= link_to "Destroy", coupon, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Coupon", new_coupon_path %></p>

<div id="fb_share_dialog" title="Share the merchant with your friends">
      <p>Please share the merchant information with your friends to get the discount</p>
      <p><a onclick='postToFeed("test msg"); return false;'>Post to Feed</a></p>
</div>
